<section class="masthead">

  <nav class="language-nav">
    <ul>
      <li><a id="first_nav" href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

    <img class="logo" src="/assets/AA_Times_Logo.png" alt="">


  <ul class="masthead-links">
    <li><a href="#">Tuesday, October 18, 2016</a></li>
    <li><a id="newspaper" href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper</a>
    </li>
    <li><a id="video_camera" href="#"><i class="fa fa-video-camera" aria-hidden="true"></i>Video</a>
    </li>
    <li><a id="temp" href="#">77°F</a></li>
    <li><a id="stocks" href="#">AAO <font color="green">+100%</font> </a></li>
  </ul>

</section>
