<section class="sections">
  <nav class="sections_nav">
    <ul>
      <li><a class ="section_link" href="#">World</a></li>
      <li><a class ="section_link" href="#">San Francisco</a></li>
      <li><a class ="section_link" href="#">New York</a></li>
      <li><a class ="section_link" href="#">Bootcamp Prep</a></li>
      <li><a class ="section_link" href="#">Jumpstart</a></li>
      <li><a class ="section_link" href="#">Online</a></li>
      <li><a class ="section_link" href="#">Marketing</a></li>
      <li><a class ="section_link" href="#">Sales</a></li>
      <li><a class ="section_link" href="#">TalentMatch</a></li>
      <li><a class ="section_link" href="#">Alumni</a></li>
      <li><a id="all_link" href="#">All</a></li>
    </ul>
  </nav>
</section>
